@font-face {
    font-family: 'Roboto Flex';
    src: url('/fonts/RobotoFlex.woff2') format('woff2');
    font-variation-settings: normal;
}
:root {
    /* Font variation settings */
    --font-main: "wdth" 115, "wght" 350, "GRAD" 50;
    --font-narrow-bold: "GRAD" 0, "XTRA" 0, "wght" 490, "wdth" 100;
    --font-heading: "wght" 600, "YTUC" 760, "YTLC" 570, "wdth" 115, "GRAD" 50, "XTRA" 500;
    --font-decorative: "slnt" -10, "GRAD" 400, "XTRA" 490, "wght" 800, "wdth" 100;
    
    /* Font sizing */
    --size-step-0: 1em;
    --size-step-1: 1.25em;
    --size-step-2: 1.7em;
    --size-step-3: 2.2em;
    --size-step-4: 4.5em;

    /* Scrollbar */
    --scrollbar-width: 0.5em;
    --scrollbar-width-half: calc(var(--scrollbar-width) * 0.5);

    /* Colors */
    --color-darkest: #121212;
    --color-darker: #1b1b1b;
    --color-dark: #2b2b2b;
    --color-blue: #4b5e7a;
    --color-light: rgb(158, 158, 158);
    --color-lighter: rgb(200, 200, 200);
    --color-disabled: rgb(97, 97, 97);
    --blue-dark: rgb(25, 50, 82);
    --blue-light: rgb(48, 97, 156);
    /* Rounded border */
    --border-width: 0.2em;
    --border-half: calc(var(--border-width)*0.5);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
/* ---------------Scrollbar---------------*/
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-light);
    border-radius: var(--scrollbar-width-half);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark);
}

/*--------------html and body-------------*/
html {
    height: 100dvh;
    width: 100vw;
    font-size: 100%;
}
/* on html for mobile : font-size: calc(15px + 0.390625vw); */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    max-width: 1350px;
    width: 100%;
    height: 100%;
    /* min-width: 1165px; */
    font-family: 'Roboto Flex', sans-serif;
    font-variation-settings: var(--font-main);
    background-color: var(--color-darkest);
    overflow-x: hidden;
    font-synthesis: none;
}
@media (min-width: 1350px){
    body{
        scrollbar-gutter: stable both-edges;
        margin: 0 auto;
    }
}
em{
    font-variation-settings: "slnt" -10;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1 {
    font-size: var(--size-step-4);
}
h2{
    font-size: var(--size-step-3);
}
h3 {
    font-size: var(--size-step-2);
}
h4{
    font-size: var(--size-step-1);
}
h3, h4 {
    font-variation-settings: var(--font-heading);
}
ul, ol {
    padding-inline-start: 0;
}
ol,ul > li {
    margin-left: 1.4em;
}
ol li::marker, ul li::marker {
    color: var(--color-blue);   
}
li > span{
    color: var(--color-blue);
}
a {
    display: inline-flex;
    text-decoration: underline 1px var(--color-lighter);
    -webkit-text-decoration: underline 1px var(--color-lighter);
    color: var(--color-light);  
    position: relative; 
    height: min-content;
}
a:hover, a:visited:hover {
    color: var(--color-lighter);
}
a:visited {
    color: var(--color-disabled);
}
a[target=_blank]::after{
    /* content: url('/icons8-new-tab.svg'); */
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16px' height='16px' fill='%23C8C8C8'%3E%3Cpath d='M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z'/%3E%3C/svg%3E");
    position: relative;
    display: inline-flex;
    align-self: center;
    width: 1em;
    height: 1em;
    color: red;
}
/* -----------------------Font variation classes------------------------- */
.decorative-shadow {
    font-variation-settings: var(--font-decorative);
    color:var(--color-blue);
    text-transform: uppercase;
    text-shadow: 0.05em 0.05em var(--color-lighter);
}
.pg-name-variant {
    text-transform: uppercase;
    font-variation-settings: var(--font-decorative);
    color: var(--color-lighter);
    text-shadow: 0.05em 0.05em var(--color-blue);
    margin-block: 0.25em;
}

/* ----------------------------Utility Classes--------------------------- */
.div-block{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .5em;
   
}
.flex-row{
    display: flex;
    justify-content: center;
    gap: .5em;
    align-items: center;
}
.top {
    grid-area: top;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.bottom{
    grid-area: bottom;    
    justify-self: center;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}
.center{
    text-align: center;
}
.half{
    width: 50%;
    margin: auto;
}
.fit-content{
    max-width: fit-content;
}
/* Utility classes */
.border-blue{
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 0 var(--border-width) var(--color-blue); 
}
.border-light{
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 0 var(--border-width) var(--color-light); 
}
.border-disabled{
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 0 var(--border-width) var(--color-disabled); 
}
.pane{
    padding: .75em;
    margin: 0.2em;
}
.bg-dark {
    background-color: var(--color-darkest);
}
.emphasize{
    color: var(--color-lighter);
    text-decoration-line: underline;
}
.indent {
    margin-left: 1.4em;
}